---
---

@import "{{ site.theme }}";


.main-content {
    @include large {
      max-width: 100%;
      padding: 2rem 6rem;
      margin: 0 auto;
      font-size: 1.1rem;
    }
}

table {

    th,
    td {
        font-size: 0.8rem;
        padding: 1px;
    }
}